<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.cure4less.akshit" versionCode="10" version="1.1.0">
  <name>Cure4Less Docotors</name>
  <description>&#xD;
        Cure4Less Doctors app&#xD;
    </description>
  <author email="jodow@ymail.com" href="http://cordova.io">&#xD;
        Jennyinfocom.com&#xD;
    </author>
  <icon src="resources\android\icon\drawable-xhdpi-icon.png"/>
  <content src="index.html"/>
  <preference name="orientation" value="portrait"/>
  <preference name="android-build-tool" value="gradle"/>
  <preference name="permissions" value="none"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="SplashScreenDelay" value="5000"/>
  <preference name="SplashScreen" value="screen"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
  <gap:plugin name="phonegap-plugin-push" source="npm" spec="1.5.3"/>
  <gap:plugin name="cordova-plugin-device" source="npm"/>
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
  <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
  <gap:plugin name="cordova-plugin-geolocation" source="npm"/>
  <gap:plugin name="cordova-plugin-network-information" source="npm"/>
  <gap:plugin name="cordova-plugin-request-location-accuracy" source="npm"/>
  <gap:plugin name="cordova-plugin-x-toast" source="npm"/>
  <gap:plugin name="cordova-plugin-media" source="npm"/>
  <gap:plugin name="cordova-plugin-googlemaps" source="npm">
    <param name="API_KEY_FOR_ANDROID" value="AIzaSyDRKkdYtSNMlyA0Ued-tkOvBAB_WWoVncY"/>
    <param name="API_KEY_FOR_IOS" value="AIzaSyDWO3Q2KFr0GXM9Ukl_bVWlHTvksnc75RA"/>
  </gap:plugin>
  <gap:plugin name="cordova-plugin-buildinfo" source="npm"/>
  <gap:plugin name="cordova-plugin-vibration" source="npm"/>
  <gap:plugin name="cordova-plugin-camera" source="npm"/>
  <gap:plugin name="cordova-plugin-file-transfer" source="npm"/>
  <platform name="android">
    <icon src="resources\android\icon\drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources\android\icon\drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources\android\icon\drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources\android\icon\drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources\android\icon\drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources\android\icon\drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="resources\android\splash\drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources\android\splash\drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources\android\splash\drawable-port-hdpi-screen.png" density="port-hdpi"/>
    <splash src="resources\android\splash\drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
  </platform>
  <platform name="ios"/>
  <gap:splash src="splash.png"/>
  <access origin="*"/>
  <access origin="tel:*" launch-external="yes"/>
  <gap:config-file platform="android" parent="/manifest">
    <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:smallScreens="true"/>
    <application android:theme="@android:style/Theme.NoTitleBar"/>
  </gap:config-file>
  <splash src="splash/android/ldpi.png" platform="android" qualifier="ldpi"/>
  <splash src="splash/android/mdpi.png" platform="android" qualifier="mdpi"/>
  <splash src="splash/android/hdpi.png" platform="android" qualifier="hdpi"/>
  <splash src="splash/android/xhdpi.png" platform="android" qualifier="xhdpi"/>
  <splash src="splash/android/portrait-xxhdpi.png" platform="android" qualifier="port-xxhdpi"/>
  <splash src="splash/android/landscape-xxhdpi.png" platform="android" qualifier="land-xxhdpi"/>
  <splash src="splash/ios/Default.png" platform="ios" width="320" height="480"/>
  <splash src="splash/ios/Default@2x.png" platform="ios" width="640" height="960"/>
  <splash src="splash/ios/Default-568h@2x.png" platform="ios" width="640" height="1136"/>
  <splash src="splash/ios/Default-667h@2x.png" platform="ios" width="750" height="1334"/>
  <splash src="splash/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208"/>
  <splash src="splash/ios/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242"/>
  <splash src="splash/ios/Default-Portrait.png" platform="ios" width="768" height="1024"/>
  <splash src="splash/ios/Default-Landscape.png" platform="ios" width="1024" height="768"/>
  <splash src="splash/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048"/>
  <splash src="splash/ios/Default-Landscape@2x.png" platform="ios" width="2048" height="1536"/>
</widget>
